
html,body {
	height: 100vh;
	font-family: 'Outfit', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

/* Login */

.btn {
	padding: 11px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	height: 45px;
}

.btn-primary {
	background-color: var(--primary);
	border: 1px solid var(--primary);
	height: 40px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: var(--primary);
	border: 1px solid var(--primary);
	box-shadow: none !important;
}

.btn-outline-primary {
	background-color: white;
	color: #673ab7;
	border: 1px solid var(--primary);
	height: 40px;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
	background-color: white;
	color: #673ab7;
	border: 1px solid var(--primary);
	box-shadow: none !important;
}

.form-control{
	height: 40px;
}

.form-control:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 .125rem .25rem var(--primary);
}

.form-control::placeholder {
	color: var(--light-grey);
	opacity: 1;
}

/* Dashboard */
.mt-n1 {
  margin-top: -0.25rem !important;
} 

.mt-n2 {
  margin-top: -0.5rem !important;
} 

.mt-n4 {
  margin-top: -1.5rem !important;
} 

.mt-n5 {
  margin-top: -3rem !important;
} 


.btn-info {
	height: 40px;
	color: white;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
	box-shadow: none !important;

	color: white;
}